* {
  box-sizing: border-box;
}

/*BG-COLORS*/
.gray-bg-mobile {
  background-color: #f4f5f6;
}

.white-bg-mobile {
  background-color: #fff;
}

a {
  color: #fff;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f4f5f6;
  font-size: 16px;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1325px;
  padding: 20px 30px;
}

/*MOBILE STYLE*/
@media only screen and (max-width: 991px) {
  /*HIDDEN-CONTENTS*/
  .hide,
  .header-desktop-hidden {
    display: none;
  }

  .header-mobile-hidden {
    background-color: #f72210;
  }

  .navbar-brand {
    width: 40%;
    color: #fff;
  }

  .navbar svg {
    width: 100%;
    height: 100%;
    max-width: 170px;
    fill: #fff;
  }

  .navbar-middle-items {
    width: 43%;
  }

  .navbar-md-item a {
    width: 50%;
    max-width: 40px;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: -0.1em;
  }

  .subscribe-btn {
    background-color: #fff;
    color: #f72210;
    padding: 5px 3px;
  }

  .navbar .navbar-toggler {
    width: 10%;
    border: none;
    outline: none;
  }
  .navbar-toggler-icon {
    color: gray;
  }

  #navbarSupportedContent {
  }

  .navbar-nav {
    background-color: #f4f5f6;
  }

  .navbar-nav .form-inline {
    position: relative;
  }

  .navbar-nav .form-inline i {
    position: absolute;
    right: 205px;
  }

  .navbar-nav .form-control {
    outline: none;
    box-shadow: none;
    border: none;
    width: 200px;
    background-color: inherit;
  }

  .site-content {
    background-color: #fff;
    height: 500px;
    padding: 1.5em 1em;
  }

  .site-content-wrapper {
    background-color: aquamarine;
  }
}

@media only screen and (min-width: 992px) {
  .header-mobile-hidden,
  .hide {
    display: none;
  }

  .header-desktop-hidden {
    padding: 0;
    margin-bottom: 2px;
  }

  .top-header {
    background-color: #f72210;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 5px 0;
  }

  .top-header a {
    color: #fff;
  }

  .top-header a:hover {
    text-decoration: none;
  }

  .top-header_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    padding: 10px;
    font-size: 1.1em;
  }

  .top-header_left .weather {
    padding: 8px;
    font-weight: 700;
  }
  .top-header_left p {
    padding: 8px;
    font-weight: 400;
  }

  .top-header_center {
    width: 38%;
    align-self: center;
    text-align: center;
  }

  .top-header_center svg {
    width: 80%;
    height: 50%;
    fill: #fff;
  }

  .top-header_right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 30%;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: -0.02em;
  }

  .top-header_right span {
    margin: 0 10px 15px 0;
  }

  .top-header_right .subscribe-btn {
    background-color: #fff;
    color: #f72210 !important;
    padding: 5px 10px;
  }

  .navbar-lg {
    background-color: #fff;
    font-weight: 600;
    width: 100%;
    max-width: 1325px;
  }

  .navbar-lg .navbar-links {
    justify-content: stretch;
    width: 100%;
    font-size: 1.2vw;
  }

  .navbar-links li {
    text-align: center;
    border-right: 1px solid #dbdbdb;
  }

  .navbar-links .nav-link {
    color: #000;
    display: block;
  }

  .navbar-links .nav-link:hover {
    color: #f72210 !important;
  }

  .navbar-links .form-inline {
    position: relative;
  }

  .navbar-links .form-inline i {
    position: absolute;
    right: 25px;
  }

  .navbar-links .form-inline .form-control {
    height: 80%;
    width: 100px !important;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: inherit;
  }

  .site-content {
    background-color: #fff;
    height: 500px;
  }

  .site-content-wrapper {
    background-color: aquamarine;
  }
}
